body 
{
	background: url(axlred-bg.png) no-repeat center center fixed;
	background-size: cover;
}

.col-centered
{
	float: none;
	margin: 0 auto;
}

.navbar-default
{
	background-color: #FFA4A4;
}

.navbar-brand
{
	font-family: 'Press Start 2P', cursive;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
    background-color: #D90000;
    font-family: 'Press Start 2P', cursive;
}

.navbar-default .navbar-nav > li > a
{
	color: #A70000;
	font-family: 'Press Start 2P', cursive;
}

#company-profile
{
	background-color: #FF7070;
	border-radius: 15px;
	padding: 30px;
	font-family: 'Press Start 2P', cursive;
	color: #D90000;
	font-size: 12;
	transition: .5s;
}

#company-profile:hover, #company-profile:hover > p
{
	background-color: #A70000;
	color: #FFF;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img 
{
    width: 70%;
    margin: auto;
}

#company-highlight
{
	background-color: #FF7070;
	border-radius: 15px;
	padding: 30px;
	color: #D90000;
	font-size: 12;
	transition: .5s;
}

#company-contact
{
	background-color: #FF7070;
	border-radius: 15px;
	padding: 30px;
	color: #D90000;
	font-size: 12;
	transition: .5s;
}

#company-highlight-header
{
	background-color: #A70000;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	color: #FFF;
	border-radius: 15px;
	padding: 20px;
}

#company-contact-header
{
	background-color: #A70000;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	color: #FFF;
	border-radius: 15px;
	padding: 20px;
}
