body {
	background: url(/image/background.png);
}

.navigation{
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #598CB3;
  position: fixed;
  z-index: 100;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  overflow: hidden;
}

.navigation li {
	float: left;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navigation li a {
  font-family: 'PT Sans', sans-serif;
  font-size: 20;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 40px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
  transition: .5s;
}

.navigation li a:hover{
   background-color: #3A709A;
}

.profile-content
{
	margin: 50px 0px;
	padding: 0;
}

.profile-image
{
  position: relative;
  top: 30px;
  border-style: dashed;
  border-radius: 3px;
  background: url(/image/profile-picture.jpg) no-repeat center center;
  background-size: 200px 300px;
  margin: 40px 100px;
  width:200px;
  height:280px;
  overflow:hidden;
  float: left;
}

.profile-header
{
	border-radius: 15px;
	background-color: #A4E86B;
	padding: 30px;
	padding-left: 10px;
	width: 50%;
	display: inline-block;
	margin-bottom: 30px;
	transition: .5s;
}

.profile-header:hover
{
	background-color: #015249;
}

.profile-header:hover h1, .profile-header:hover h2
{
	color:#FFF;
}

.profile-name h1
{
	color: #1B9460;
	position: relative;
	left: 50px;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
}

.profile-role h2
{
	color: #1B9460;
	position: relative;
	left: 50px;
	display: inline-block;
	font-family: Tahoma;
}

.profile-contact
{
	border-radius: 15px;
	background-color: #A4E86B;
	padding: 30px;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 30px;
}

.profile-contact:hover
{
	background-color: #015249;
}

.profile-contact:hover ul, .profile-contact:hover a
{
	color: #FFF;
}

.profile-contact a
{
	color: #1B9460;
	transition: .5s;
}

.profile-contact a:hover
{
	background-color: #77C9D4;
}

.profile-contact ul
{
	list-style-type: none;
	font-family: Verdana;
	color: #1B9460;
	font-size: 12;
}

.profile-content-layout
{
	border-radius: 15px;
	background-color: #57BC91;
	padding: 30px;
	width: 95%;
	display: inline-block;
	margin-bottom: 30px;
}

.profile-content-layout-headings
{
	background-color: #015249;
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans Condensed', sans-serif;
}

.profile-content-layout ul
{
	display: inline-block;
	list-style-type: none;
	font-family: 'PT Sans', sans-serif;
	color: #1B9460;
	margin-right: 180px;
}

.profile-content-layout li
{
	display: inline-block;
	font-size: large;
	background-color: #015249;
	margin-bottom: 10px;
	color: #FFF;
}

.profile-portofolio-image-container
{
	text-align: center;
}

.profile-portofolio-image-container img
{
	display: inline-block;
    margin: 5px;
    padding: 10px;
}

.profile-portofolio-image-container img:hover
{
	background-color: #B8EDD6;
}

#profile-portofolio-slider 
{
	margin: auto;
    width: 960px;
    height: 540px;
    border: 5px black solid;
    overflow: hidden;
}

#wrapper
{
    width: 6720px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}

/*#wrapperGM 
{
    width: 7680px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}*/

.portofolio-content 
{
    float: left;
    width: 960px;
    height: 540px;
    white-space: normal;
    background-repeat: no-repeat;
}

#BlenderOne 
{
    background-image: url("/image/bear-render.png");
}

#BlenderTwo 
{
    background-image: url("/image/candle-render.png");
}

#BlenderThree 
{
    background-image: url("/image/keramik-render.png");
}

#GMOne 
{
    background-image: url("/image/maskantara-title.png");
}

#GMTwo 
{
    background-image: url("/image/maskantara-gameplay.png");
}

#GMThree
{
    background-image: url("/image/starjoust-title.png");
}

#GMFour 
{
    background-image: url("/image/starjoust-gameplay.png");
}

#nav-slider 
{
	margin: auto;
    text-align: center;
    width: 960px;
}

#nav-slider ul 
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
}

#nav-slider ul li 
{
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 5px;
    border-radius: 50%;
    border: black 5px solid;
}

#nav-slider ul li:hover
{
    background-color: #FFFF00;
}

#nav-slider ul li.active 
{
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}

#nav-slider ul li.active:hover 
{
    background-color: #484848;
    color: #FFFFFF;
}